<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>530.44744873046875</real>
		<key>y</key>
		<real>765.334716796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>109.678466796875</real>
		<key>y</key>
		<real>963.9332275390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>499.371337890625</real>
		<key>y</key>
		<real>1180.312255859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>225.76397705078125</real>
		<key>y</key>
		<real>1447.8603515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>531.17205810546875</real>
		<key>y</key>
		<real>1850.188720703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>130.39898681640625</real>
		<key>y</key>
		<real>1915.5576171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>484.7655029296875</real>
		<key>y</key>
		<real>2316.865966796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>125.93646240234375</real>
		<key>y</key>
		<real>2512.0263671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>501.22650146484375</real>
		<key>y</key>
		<real>2930.349609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>139.88238525390625</real>
		<key>y</key>
		<real>2942.754150390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>294.381591796875</real>
		<key>y</key>
		<real>3373.8974609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>95.534088134765625</real>
		<key>y</key>
		<real>3698.6279296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>568.49658203125</real>
		<key>y</key>
		<real>3526.75390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>405.9122314453125</real>
		<key>y</key>
		<real>3963.388671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>135.272216796875</real>
		<key>y</key>
		<real>4250.6787109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>408.10888671875</real>
		<key>y</key>
		<real>4641.62255859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>94.089630126953125</real>
		<key>y</key>
		<real>4752.01318359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>511.217529296875</real>
		<key>y</key>
		<real>4312.734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>541.93377685546875</real>
		<key>y</key>
		<real>5048.45947265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>157.981689453125</real>
		<key>y</key>
		<real>5221.5654296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>448.816162109375</real>
		<key>y</key>
		<real>5545.4931640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>75.939605712890625</real>
		<key>y</key>
		<real>5881.04052734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>83.32330322265625</real>
		<key>y</key>
		<real>5644.3515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>548.08526611328125</real>
		<key>y</key>
		<real>5946.72314453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>335.96099853515625</real>
		<key>y</key>
		<real>5972.1044921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>103.98379516601562</real>
		<key>y</key>
		<real>6393.875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>370.715087890625</real>
		<key>y</key>
		<real>6391.10595703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>550.3326416015625</real>
		<key>y</key>
		<real>6732.85107421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>273.4949951171875</real>
		<key>y</key>
		<real>7026.01611328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>97.5692138671875</real>
		<key>y</key>
		<real>6776.4013671875</real>
	</dict>
</array>
</plist>
