<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>150.93023681640625</real>
		<key>y</key>
		<real>1329.190673828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>494.2213134765625</real>
		<key>y</key>
		<real>1493.30712890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>108.82473754882812</real>
		<key>y</key>
		<real>1799.92431640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>297.10894775390625</real>
		<key>y</key>
		<real>1974.11474609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>558.31170654296875</real>
		<key>y</key>
		<real>2090.514404296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>114.25634765625</real>
		<key>y</key>
		<real>2286.13134765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>389.71429443359375</real>
		<key>y</key>
		<real>2454.9873046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>140.8192138671875</real>
		<key>y</key>
		<real>2704.260986328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>540.410888671875</real>
		<key>y</key>
		<real>2813.0595703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>309.77655029296875</real>
		<key>y</key>
		<real>3078.018798828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>96.927764892578125</real>
		<key>y</key>
		<real>3521.779052734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>518.2091064453125</real>
		<key>y</key>
		<real>3529.16259765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>287.4593505859375</real>
		<key>y</key>
		<real>3878.37451171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>547.02392578125</real>
		<key>y</key>
		<real>4237.20361328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>189.325439453125</real>
		<key>y</key>
		<real>4254.0244140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>446.16259765625</real>
		<key>y</key>
		<real>4666.86572265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>109.02316284179688</real>
		<key>y</key>
		<real>4850.9501953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>498.6468505859375</real>
		<key>y</key>
		<real>4934.16015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>257.87841796875</real>
		<key>y</key>
		<real>5165.0849609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>527.38323974609375</real>
		<key>y</key>
		<real>5266.76318359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>142.96969604492188</real>
		<key>y</key>
		<real>5520.9609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>482.421142578125</real>
		<key>y</key>
		<real>5811.283203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>187.68258666992188</real>
		<key>y</key>
		<real>5968.34326171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>529.64453125</real>
		<key>y</key>
		<real>6277.2451171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>252.5760498046875</real>
		<key>y</key>
		<real>6305.7138671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>89.331787109375</real>
		<key>y</key>
		<real>6428.45849609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>329.30181884765625</real>
		<key>y</key>
		<real>6684.94970703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>545.02105712890625</real>
		<key>y</key>
		<real>6986.40283203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>122.24920654296875</real>
		<key>y</key>
		<real>7069.67236328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>354.8309326171875</real>
		<key>y</key>
		<real>7406.87646484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>308.2352294921875</real>
		<key>y</key>
		<real>7665.78125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>538.04803466796875</real>
		<key>y</key>
		<real>7873.244140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>120.45864868164062</real>
		<key>y</key>
		<real>7881.49609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>473.9068603515625</real>
		<key>y</key>
		<real>8188.279296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>173.58892822265625</real>
		<key>y</key>
		<real>8377.9248046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>431.344482421875</real>
		<key>y</key>
		<real>8607.6865234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>328.415771484375</real>
		<key>y</key>
		<real>8795.1728515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>115.58541870117188</real>
		<key>y</key>
		<real>8821.306640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>360.93634033203125</real>
		<key>y</key>
		<real>8996.494140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>528.3016357421875</real>
		<key>y</key>
		<real>9307.7900390625</real>
	</dict>
</array>
</plist>
