<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1321.6967773437500000</real>
            <key>x</key>
            <real>126.3176879882812500</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1672.0541992187500000</real>
            <key>x</key>
            <real>491.7177734375000000</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1987.5361328125000000</real>
            <key>x</key>
            <real>258.1010131835937500</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2529.5786132812500000</real>
            <key>x</key>
            <real>150.2783203125000000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2447.7133789062500000</real>
            <key>x</key>
            <real>517.6754150390625000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3075.6149902343750000</real>
            <key>x</key>
            <real>411.8488159179687500</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3453.9252929687500000</real>
            <key>x</key>
            <real>170.2448425292968700</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3796.2963867187500000</real>
            <key>x</key>
            <real>298.0359497070312500</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3724.4150390625000000</real>
            <key>x</key>
            <real>517.6754150390625000</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4157.7026367187500000</real>
            <key>x</key>
            <real>150.2783203125000000</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4372.2827148437500000</real>
            <key>x</key>
            <real>539.6389770507812500</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4524.0346679687500000</real>
            <key>x</key>
            <real>310.0162353515625000</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4938.2856445312500000</real>
            <key>x</key>
            <real>168.2487487792968700</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5165.9135742187500000</real>
            <key>x</key>
            <real>507.6912231445312500</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5498.2998046875000000</real>
            <key>x</key>
            <real>234.1403808593750000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5924.5312500000000000</real>
            <key>x</key>
            <real>433.8123779296875000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6230.0297851562500000</real>
            <key>x</key>
            <real>172.2418823242187500</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6602.3510742187500000</real>
            <key>x</key>
            <real>447.7896728515625000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7212.2827148437500000</real>
            <key>x</key>
            <real>308.0192260742187500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7507.7983398437500000</real>
            <key>x</key>
            <real>174.2388916015625000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7385.9980468750000000</real>
            <key>x</key>
            <real>537.6428833007812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7844.1787109375000000</real>
            <key>x</key>
            <real>443.7966308593750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8079.7919921875000000</real>
            <key>x</key>
            <real>154.2714233398437500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8434.1416015625000000</real>
            <key>x</key>
            <real>463.7640380859375000</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8731.6542968750000000</real>
            <key>x</key>
            <real>186.2192077636718800</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9018.1162109375000000</real>
            <key>x</key>
            <real>471.7503051757812500</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9253.7285156250000000</real>
            <key>x</key>
            <real>166.2517089843750000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9592.1054687500000000</real>
            <key>x</key>
            <real>461.7670898437500000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9699.9287109375000000</real>
            <key>x</key>
            <real>198.1995239257812500</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9959.5029296875000000</real>
            <key>x</key>
            <real>455.7768554687500000</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10745.1464843750000000</real>
            <key>x</key>
            <real>140.2940979003906200</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10979.6933593750000000</real>
            <key>x</key>
            <real>533.6488647460937500</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11459.8378906250000000</real>
            <key>x</key>
            <real>325.9896850585937500</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
    </array>
</plist>
