<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1159.9616699218750000</real>
            <key>x</key>
            <real>485.7276611328125000</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1181.9252929687500000</real>
            <key>x</key>
            <real>136.3009643554687500</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1707.9951171875000000</real>
            <key>x</key>
            <real>343.9601440429687500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2112.2631835937500000</real>
            <key>x</key>
            <real>120.3275451660156200</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2343.8828125000000000</real>
            <key>x</key>
            <real>487.7246704101562500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2644.3222656250000000</real>
            <key>x</key>
            <real>132.3078613281250000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2869.9528808593750000</real>
            <key>x</key>
            <real>413.8458251953125000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3437.9528808593750000</real>
            <key>x</key>
            <real>413.8458251953125000</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3182.3706054687500000</real>
            <key>x</key>
            <real>138.2980041503906200</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3761.4208984375000000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4163.6938476562500000</real>
            <key>x</key>
            <real>433.8123779296875000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4295.4770507812500000</real>
            <key>x</key>
            <real>132.3078613281250000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4689.7617187500000000</real>
            <key>x</key>
            <real>286.0556640625000000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5161.9194335937500000</real>
            <key>x</key>
            <real>469.7542724609375000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5323.6542968750000000</real>
            <key>x</key>
            <real>128.3137817382812500</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5821.7675781250000000</real>
            <key>x</key>
            <real>294.0418701171875000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6081.3422851562500000</real>
            <key>x</key>
            <real>523.6655883789062500</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6385.7753906250000000</real>
            <key>x</key>
            <real>180.2290649414062500</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6639.3588867187500000</real>
            <key>x</key>
            <real>533.6488647460937500</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6995.7055664062500000</real>
            <key>x</key>
            <real>112.3403625488281200</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6746.1162109375000000</real>
            <key>x</key>
            <real>228.1502685546875000</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7069.5844726562500000</real>
            <key>x</key>
            <real>441.7995605468750000</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7487.8315429687500000</real>
            <key>x</key>
            <real>252.1108398437500000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7641.5781250000000000</real>
            <key>x</key>
            <real>545.6291503906250000</real>
            <key>id</key>
            <real>8.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8109.7421875000000000</real>
            <key>x</key>
            <real>148.2812805175781200</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8231.5419921875000000</real>
            <key>x</key>
            <real>447.7896728515625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8763.6015625000000000</real>
            <key>x</key>
            <real>325.9896850585937500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8561.9335937500000000</real>
            <key>x</key>
            <real>140.2940979003906200</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9193.8271484375000000</real>
            <key>x</key>
            <real>501.7010498046875000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9719.8964843750000000</real>
            <key>x</key>
            <real>142.2911376953125000</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9484.2832031250000000</real>
            <key>x</key>
            <real>325.9896850585937500</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9777.8007812500000000</real>
            <key>x</key>
            <real>503.6981201171875000</real>
            <key>id</key>
            <real>7.0000000000000000</real>
        </dict>
    </array>
</plist>
