<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>11</real>
		<key>x</key>
		<real>322.6888427734375</real>
		<key>y</key>
		<real>1773.3154296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>84.40777587890625</real>
		<key>y</key>
		<real>2046.511962890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>473.64385986328125</real>
		<key>y</key>
		<real>2047.790283203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>508.5594482421875</real>
		<key>y</key>
		<real>2431.147216796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>130.81430053710938</real>
		<key>y</key>
		<real>2924.99658203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>441.6492919921875</real>
		<key>y</key>
		<real>3416.2890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>135.68753051757812</real>
		<key>y</key>
		<real>3502.07373046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>516.76458740234375</real>
		<key>y</key>
		<real>3074.64111328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>460.519287109375</real>
		<key>y</key>
		<real>3965.830078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>121.37701416015625</real>
		<key>y</key>
		<real>4271.02099609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>166.03912353515625</real>
		<key>y</key>
		<real>3904.30078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>538.2095947265625</real>
		<key>y</key>
		<real>4619.974609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>126.4163818359375</real>
		<key>y</key>
		<real>4765.1376953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>260.7626953125</real>
		<key>y</key>
		<real>4531.4208984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>391.6202392578125</real>
		<key>y</key>
		<real>5137.9775390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>89.75634765625</real>
		<key>y</key>
		<real>5402.51220703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>499.5513916015625</real>
		<key>y</key>
		<real>5752.80859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>112.77960205078125</real>
		<key>y</key>
		<real>6043.59228515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>528.62921142578125</real>
		<key>y</key>
		<real>6551.701171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>128.05465698242188</real>
		<key>y</key>
		<real>6964.380859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>116.766845703125</real>
		<key>y</key>
		<real>1421.099365234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>551.17266845703125</real>
		<key>y</key>
		<real>1459.656005859375</real>
	</dict>
</array>
</plist>
