<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlaneCloudGas01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{57,89}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,43},{57,89}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>PlaneCloudGas02.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,265},{61,89}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,43},{61,89}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>PlaneCloudGas03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{57,89}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,43},{57,89}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>PlaneCloudGas04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,202},{61,89}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,43},{61,89}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>PlaneExplose01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,95},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,26},{105,97}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>PlaneExplose02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{129,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{129,139}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>PlaneExplose03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{147,131}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>PlaneExplose04.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{99,91}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Animation.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d503bf62eded6ca778acc797f561bb3:1/1$</string>
            <key>textureFileName</key>
            <string>Animation.png</string>
        </dict>
    </dict>
</plist>
