<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlanePink1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,786},{150,145}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,63},{150,145}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,153}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{150,153}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,316},{150,147}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,61},{150,147}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,309},{150,137}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,72},{150,137}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,145}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,63},{150,145}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,161},{150,153}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{150,153}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,469},{150,147}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,61},{150,147}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,468},{150,137}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,71},{150,137}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,157},{150,145}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,63},{150,145}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{150,153}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{150,153}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,634},{150,147}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,61},{150,147}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlanePink3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,621},{150,137}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,71},{150,137}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{128,157}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{128,157}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,773},{128,147}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{128,147}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,461},{128,137}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,74},{128,137}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{128,147}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{128,147}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{128,157}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{128,157}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,316},{128,151}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,60},{128,151}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,620},{128,137}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{128,137}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,154},{128,147}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,63},{128,147}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,157}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{150,157}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{150,147}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,64},{150,147}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,786},{150,137}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,74},{150,137}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
            <key>PlaneYellow3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{150,147}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,64},{150,147}}</string>
                <key>sourceSize</key>
                <string>{254,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Planes2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbc1ed40d444f76198cfa4735abcd305:1/1$</string>
            <key>textureFileName</key>
            <string>Planes2.png</string>
        </dict>
    </dict>
</plist>
