<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>2091.3647460937500000</real>
            <key>x</key>
            <real>481.7344970703125000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2677.3361816406250000</real>
            <key>x</key>
            <real>473.7473144531250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
    </array>
</plist>
