<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1533.8044433593750000</real>
            <key>x</key>
            <real>302.6420898437500000</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1757.9133300781250000</real>
            <key>x</key>
            <real>489.7207641601562500</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1823.8041992187500000</real>
            <key>x</key>
            <real>160.2615661621093700</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2086.3056640625000000</real>
            <key>x</key>
            <real>122.3236389160156200</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2114.2602539062500000</real>
            <key>x</key>
            <real>479.7374877929687500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2372.7675781250000000</real>
            <key>x</key>
            <real>280.0655517578125000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2722.1950683593750000</real>
            <key>x</key>
            <real>136.3009643554687500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2796.0739746093750000</real>
            <key>x</key>
            <real>477.7404785156250000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3029.6909179687500000</real>
            <key>x</key>
            <real>276.0714111328125000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
    </array>
</plist>
