<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>505.375244140625</real>
		<key>y</key>
		<real>2104.80615234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>595.6224365234375</real>
		<key>y</key>
		<real>2691.316162109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>369.59832763671875</real>
		<key>y</key>
		<real>3608.26513671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>531.07049560546875</real>
		<key>y</key>
		<real>4240.3095703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>114.353271484375</real>
		<key>y</key>
		<real>4367.013671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>438.8250732421875</real>
		<key>y</key>
		<real>4926.859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>120.91552734375</real>
		<key>y</key>
		<real>5382.6083984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>532.66253662109375</real>
		<key>y</key>
		<real>6028.54833984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>139.83624267578125</real>
		<key>y</key>
		<real>6660.080078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>505.181396484375</real>
		<key>y</key>
		<real>7164.18798828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>213.5255126953125</real>
		<key>y</key>
		<real>7721.98046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>503.7508544921875</real>
		<key>y</key>
		<real>8262.859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>123.54135131835938</real>
		<key>y</key>
		<real>8833.568359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>561.279052734375</real>
		<key>y</key>
		<real>8813.5810546875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>359.3626708984375</real>
		<key>y</key>
		<real>9640.974609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>52.579437255859375</real>
		<key>y</key>
		<real>9931.3984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>577.42620849609375</real>
		<key>y</key>
		<real>9943.55859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>323.1502685546875</real>
		<key>y</key>
		<real>10477.921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>114.0440673828125</real>
		<key>y</key>
		<real>11107.1416015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>563.18499755859375</real>
		<key>y</key>
		<real>11415.6787109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>294.38616943359375</real>
		<key>y</key>
		<real>12023.5185546875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>78.71771240234375</real>
		<key>y</key>
		<real>12816.259765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>385.3994140625</real>
		<key>y</key>
		<real>12541.982421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>531.6981201171875</real>
		<key>y</key>
		<real>13303.44921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>157.58941650390625</real>
		<key>y</key>
		<real>13858.6845703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>129.28680419921875</real>
		<key>y</key>
		<real>13448.068359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>559.17926025390625</real>
		<key>y</key>
		<real>14077.2744140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>126.61019897460938</real>
		<key>y</key>
		<real>14471.6611328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>599.57733154296875</real>
		<key>y</key>
		<real>14846.8125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>162.9564208984375</real>
		<key>y</key>
		<real>15074.3779296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>505.73980712890625</real>
		<key>y</key>
		<real>15501.515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>102.09634399414062</real>
		<key>y</key>
		<real>15820.8515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>521.32861328125</real>
		<key>y</key>
		<real>16332.388671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>123.6751708984375</real>
		<key>y</key>
		<real>16734.255859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>521.06561279296875</real>
		<key>y</key>
		<real>17215.390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>208.6845703125</real>
		<key>y</key>
		<real>17508.736328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>561.41290283203125</real>
		<key>y</key>
		<real>18092.736328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>395.9996337890625</real>
		<key>y</key>
		<real>18672.6328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>104.1314697265625</real>
		<key>y</key>
		<real>18077.935546875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>106.13427734375</real>
		<key>y</key>
		<real>19163.103515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>585.3682861328125</real>
		<key>y</key>
		<real>19836.986328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>150.75027465820312</real>
		<key>y</key>
		<real>20249.615234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>492.80908203125</real>
		<key>y</key>
		<real>20627.37890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>145.318603515625</real>
		<key>y</key>
		<real>20951.818359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>491.42926025390625</real>
		<key>y</key>
		<real>21720.5078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>150.55181884765625</real>
		<key>y</key>
		<real>21389.51953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>153.01150512695312</real>
		<key>y</key>
		<real>22225.892578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>525.02044677734375</real>
		<key>y</key>
		<real>22492.8359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>134.39077758789062</real>
		<key>y</key>
		<real>22860.494140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>550.18963623046875</real>
		<key>y</key>
		<real>23215.56640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>138.0318603515625</real>
		<key>y</key>
		<real>23593.888671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>423.794677734375</real>
		<key>y</key>
		<real>24101.17578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>145.26788330078125</real>
		<key>y</key>
		<real>24641.330078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>561.1175537109375</real>
		<key>y</key>
		<real>24697.216796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>5</real>
		<key>x</key>
		<real>362.265380859375</real>
		<key>y</key>
		<real>25200.45703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>91.579193115234375</real>
		<key>y</key>
		<real>25423.24609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>536.24371337890625</real>
		<key>y</key>
		<real>25727.12109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>273.7579345703125</real>
		<key>y</key>
		<real>26201.59765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>92.0406494140625</real>
		<key>y</key>
		<real>26878.25390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>374.25927734375</real>
		<key>y</key>
		<real>26660.53125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>547.725341796875</real>
		<key>y</key>
		<real>27042.83984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>286.4256591796875</real>
		<key>y</key>
		<real>27542.69921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>82.294189453125</real>
		<key>y</key>
		<real>27378.619140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>636.47735595703125</real>
		<key>y</key>
		<real>28191.869140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>159.822998046875</real>
		<key>y</key>
		<real>28524.05078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>522.03472900390625</real>
		<key>y</key>
		<real>29217.11328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>70.80792236328125</real>
		<key>y</key>
		<real>29250.33984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>225.454833984375</real>
		<key>y</key>
		<real>29735.12109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>534.65155029296875</real>
		<key>y</key>
		<real>29796.38671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>244.7354736328125</real>
		<key>y</key>
		<real>30311.255859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>79.469940185546875</real>
		<key>y</key>
		<real>30663.625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>519.9810791015625</real>
		<key>y</key>
		<real>31045.896484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>177.96844482421875</real>
		<key>y</key>
		<real>31437.970703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>536.48822021484375</real>
		<key>y</key>
		<real>31964.900390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>134.99530029296875</real>
		<key>y</key>
		<real>32133.0859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>541.5091552734375</real>
		<key>y</key>
		<real>32631.44921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>311.17022705078125</real>
		<key>y</key>
		<real>33060.4375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>93.30511474609375</real>
		<key>y</key>
		<real>33401.21875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>367.7801513671875</real>
		<key>y</key>
		<real>33903.48828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>569.502685546875</real>
		<key>y</key>
		<real>34468.20703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>118.27587890625</real>
		<key>y</key>
		<real>34884.1171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>396.34576416015625</real>
		<key>y</key>
		<real>35334.80078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>81.71734619140625</real>
		<key>y</key>
		<real>35567.796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>488.5404052734375</real>
		<key>y</key>
		<real>35975.81640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>103.8038330078125</real>
		<key>y</key>
		<real>36410.50390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>593.1766357421875</real>
		<key>y</key>
		<real>36596.05859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>354.438720703125</real>
		<key>y</key>
		<real>37046.7421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>91.496124267578125</real>
		<key>y</key>
		<real>37720.37890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>467.2938232421875</real>
		<key>y</key>
		<real>38469.69140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>234.39825439453125</real>
		<key>y</key>
		<real>39067.17578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>63.391937255859375</real>
		<key>y</key>
		<real>39629.48046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>475.6466064453125</real>
		<key>y</key>
		<real>40041.2421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>191.20831298828125</real>
		<key>y</key>
		<real>40021.29296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>468.0968017578125</real>
		<key>y</key>
		<real>39691.53515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>395.9996337890625</real>
		<key>y</key>
		<real>40451.921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>137.21038818359375</real>
		<key>y</key>
		<real>40661.80078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>560.7529296875</real>
		<key>y</key>
		<real>41148.9375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>100.9656982421875</real>
		<key>y</key>
		<real>41517.578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>617.00286865234375</real>
		<key>y</key>
		<real>41913.12890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>264.63916015625</real>
		<key>y</key>
		<real>42264.42578125</real>
	</dict>
</array>
</plist>
