<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>517.6754150390625</real>
		<key>y</key>
		<real>1466.3897705078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>253.71124267578125</real>
		<key>y</key>
		<real>1716.3779296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>345.0706787109375</real>
		<key>y</key>
		<real>2178.398681640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>131.05889892578125</real>
		<key>y</key>
		<real>1399.3404541015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>539.52484130859375</real>
		<key>y</key>
		<real>1949.73486328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>85.60760498046875</real>
		<key>y</key>
		<real>2379.447509765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>527.80780029296875</real>
		<key>y</key>
		<real>2614.1796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>493.43212890625</real>
		<key>y</key>
		<real>3809.46630859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>507.447265625</real>
		<key>y</key>
		<real>3137.369873046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>294.4046630859375</real>
		<key>y</key>
		<real>2757.34033203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>98.422943115234375</real>
		<key>y</key>
		<real>3059.481201171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>111.69973754882812</real>
		<key>y</key>
		<real>3814.4365234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>305.36480712890625</real>
		<key>y</key>
		<real>3345.57177734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>341.969482421875</real>
		<key>y</key>
		<real>3693.9345703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>372.3072509765625</real>
		<key>y</key>
		<real>4137.68994140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>540.8538818359375</real>
		<key>y</key>
		<real>5029.47412109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>325.0885009765625</real>
		<key>y</key>
		<real>4868.72216796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>111.8289794921875</real>
		<key>y</key>
		<real>4302.1845703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>84.297027587890625</real>
		<key>y</key>
		<real>4915.48388671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>508.859375</real>
		<key>y</key>
		<real>5415.37841796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>287.445556640625</real>
		<key>y</key>
		<real>5312.82373046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>335.3887939453125</real>
		<key>y</key>
		<real>5873.3427734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>152.85003662109375</real>
		<key>y</key>
		<real>5132.74462890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>105.67742919921875</real>
		<key>y</key>
		<real>6059.984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>152.3885498046875</real>
		<key>y</key>
		<real>5617.8349609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>549.00823974609375</real>
		<key>y</key>
		<real>6477.7998046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>337.949951171875</real>
		<key>y</key>
		<real>6312.12841796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>330.732421875</real>
		<key>y</key>
		<real>6632.728515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>425.826171875</real>
		<key>y</key>
		<real>7001.69677734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>127.87466430664062</real>
		<key>y</key>
		<real>6852.859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>325.480712890625</real>
		<key>y</key>
		<real>2466.96728515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>466.29705810546875</real>
		<key>y</key>
		<real>4506.3349609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>519.6715087890625</real>
		<key>y</key>
		<real>5731.91650390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>162.59649658203125</real>
		<key>y</key>
		<real>6482.36376953125</real>
	</dict>
</array>
</plist>
