<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1413.5078125000000000</real>
            <key>x</key>
            <real>292.8125000000000000</real>
            <key>id</key>
            <real>13.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1909.6638183593750000</real>
            <key>x</key>
            <real>539.6389770507812500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1915.6547851562500000</real>
            <key>x</key>
            <real>98.3639831542968750</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2411.7729492187500000</real>
            <key>x</key>
            <real>425.8261718750000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2413.7680664062500000</real>
            <key>x</key>
            <real>256.1040039062500000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2879.9365234375000000</real>
            <key>x</key>
            <real>547.6261596679687500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2881.9335937500000000</real>
            <key>x</key>
            <real>104.3532104492187500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3203.4047851562500000</real>
            <key>x</key>
            <real>423.8291015625000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3209.3957519531250000</real>
            <key>x</key>
            <real>246.1207275390625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
    </array>
</plist>
