<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1413.5078125000000000</real>
            <key>x</key>
            <real>292.8125000000000000</real>
            <key>id</key>
            <real>13.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1909.6638183593750000</real>
            <key>x</key>
            <real>539.6389770507812500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1915.6547851562500000</real>
            <key>x</key>
            <real>98.3639831542968750</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2190.1359863281250000</real>
            <key>x</key>
            <real>423.8291015625000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2202.1162109375000000</real>
            <key>x</key>
            <real>230.1472778320312500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2403.7844238281250000</real>
            <key>x</key>
            <real>557.6094360351562500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2466.6127929687500000</real>
            <key>x</key>
            <real>106.3502197265625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2611.4436035156250000</real>
            <key>x</key>
            <real>467.7572021484375000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2634.3388671875000000</real>
            <key>x</key>
            <real>248.1177368164062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2744.1586914062500000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2830.0178222656250000</real>
            <key>x</key>
            <real>385.8911743164062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2997.7421875000000000</real>
            <key>x</key>
            <real>531.6527709960937500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3077.6120605468750000</real>
            <key>x</key>
            <real>198.1995239257812500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3236.2829589843750000</real>
            <key>x</key>
            <real>545.6291503906250000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3364.0739746093750000</real>
            <key>x</key>
            <real>347.9532470703125000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3499.8513183593750000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3756.3618164062500000</real>
            <key>x</key>
            <real>304.0261230468750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3991.9755859375000000</real>
            <key>x</key>
            <real>112.3403625488281200</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4002.8886718750000000</real>
            <key>x</key>
            <real>525.6616821289062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4320.3676757812500000</real>
            <key>x</key>
            <real>399.8685302734375000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4336.3417968750000000</real>
            <key>x</key>
            <real>200.1965332031250000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4637.8466796875000000</real>
            <key>x</key>
            <real>318.0025024414062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4770.5615234375000000</real>
            <key>x</key>
            <real>102.3561706542968700</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4806.5024414062500000</real>
            <key>x</key>
            <real>527.6586914062500000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4972.2294921875000000</real>
            <key>x</key>
            <real>214.1729125976562500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5064.0800781250000000</real>
            <key>x</key>
            <real>549.6232299804687500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5153.9331054687500000</real>
            <key>x</key>
            <real>385.8911743164062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5249.7753906250000000</real>
            <key>x</key>
            <real>220.1630859375000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5445.4541015625000000</real>
            <key>x</key>
            <real>80.3925781250000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5447.4511718750000000</real>
            <key>x</key>
            <real>449.7867431640625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
    </array>
</plist>
