<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1457.6025390625000000</real>
            <key>x</key>
            <real>539.7694091796875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1470.3842773437500000</real>
            <key>x</key>
            <real>134.3039550781250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1707.9951171875000000</real>
            <key>x</key>
            <real>290.0488281250000000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1791.8574218750000000</real>
            <key>x</key>
            <real>457.7739257812500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2014.4238281250000000</real>
            <key>x</key>
            <real>365.9246826171875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2023.4770507812500000</real>
            <key>x</key>
            <real>130.3108215332031200</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2283.9814453125000000</real>
            <key>x</key>
            <real>449.7867431640625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2457.6967773437500000</real>
            <key>x</key>
            <real>228.1502685546875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2575.0185546875000000</real>
            <key>x</key>
            <real>542.1321411132812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2627.4179687500000000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2739.2348632812500000</real>
            <key>x</key>
            <real>359.9335937500000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2981.7675781250000000</real>
            <key>x</key>
            <real>142.2911376953125000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3005.7282714843750000</real>
            <key>x</key>
            <real>505.6951293945312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3227.8940429687500000</real>
            <key>x</key>
            <real>172.8505859375000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3249.3303222656250000</real>
            <key>x</key>
            <real>463.7640380859375000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3523.0297851562500000</real>
            <key>x</key>
            <real>567.9428100585937500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3526.7214355468750000</real>
            <key>x</key>
            <real>99.9827575683593750</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3675.4155273437500000</real>
            <key>x</key>
            <real>333.6674804687500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3844.6914062500000000</real>
            <key>x</key>
            <real>107.0711059570312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3858.1953125000000000</real>
            <key>x</key>
            <real>337.9699707031250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3872.7817382812500000</real>
            <key>x</key>
            <real>537.4758300781250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4143.7255859375000000</real>
            <key>x</key>
            <real>369.9177246093750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4183.5009765625000000</real>
            <key>x</key>
            <real>119.5218505859375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4419.2739257812500000</real>
            <key>x</key>
            <real>437.8064575195312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4472.1191406250000000</real>
            <key>x</key>
            <real>144.2881469726562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4602.0415039062500000</real>
            <key>x</key>
            <real>545.3026123046875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4703.7392578125000000</real>
            <key>x</key>
            <real>296.0389404296875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4909.4013671875000000</real>
            <key>x</key>
            <real>102.3561706542968700</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4943.3452148437500000</real>
            <key>x</key>
            <real>555.6133422851562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5078.0571289062500000</real>
            <key>x</key>
            <real>355.9404296875000000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5259.3701171875000000</real>
            <key>x</key>
            <real>547.3376464843750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5272.3979492187500000</real>
            <key>x</key>
            <real>84.1170349121093750</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5407.5566406250000000</real>
            <key>x</key>
            <real>325.1530761718750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5542.3735351562500000</real>
            <key>x</key>
            <real>72.9907226562500000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5542.4243164062500000</real>
            <key>x</key>
            <real>561.0344848632812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5745.8935546875000000</real>
            <key>x</key>
            <real>339.9670410156250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5846.8906250000000000</real>
            <key>x</key>
            <real>94.8464660644531250</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5941.1391601562500000</real>
            <key>x</key>
            <real>555.4089965820312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6098.4028320312500000</real>
            <key>x</key>
            <real>314.5344238281250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6161.6992187500000000</real>
            <key>x</key>
            <real>118.5896606445312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6201.3911132812500000</real>
            <key>x</key>
            <real>516.4738769531250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6435.6938476562500000</real>
            <key>x</key>
            <real>238.1335449218750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6492.0917968750000000</real>
            <key>x</key>
            <real>525.7219238281250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6609.4091796875000000</real>
            <key>x</key>
            <real>327.9866943359375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6728.4716796875000000</real>
            <key>x</key>
            <real>108.7785949707031200</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6815.7470703125000000</real>
            <key>x</key>
            <real>544.0057983398437500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6893.8740234375000000</real>
            <key>x</key>
            <real>339.9670410156250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6995.7055664062500000</real>
            <key>x</key>
            <real>126.3176879882812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7115.5107421875000000</real>
            <key>x</key>
            <real>551.6193237304687500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7161.4345703125000000</real>
            <key>x</key>
            <real>331.9798583984375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7350.0571289062500000</real>
            <key>x</key>
            <real>122.3236389160156200</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7411.9555664062500000</real>
            <key>x</key>
            <real>345.9571533203125000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7507.7983398437500000</real>
            <key>x</key>
            <real>519.6715087890625000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7689.5000000000000000</real>
            <key>x</key>
            <real>343.9601440429687500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7697.4863281250000000</real>
            <key>x</key>
            <real>104.3532104492187500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7928.0410156250000000</real>
            <key>x</key>
            <real>335.9729614257812500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7946.4628906250000000</real>
            <key>x</key>
            <real>107.7771606445312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7963.7412109375000000</real>
            <key>x</key>
            <real>559.0039062500000000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8126.4082031250000000</real>
            <key>x</key>
            <real>346.4688720703125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8283.6630859375000000</real>
            <key>x</key>
            <real>119.3141784667968700</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8358.1738281250000000</real>
            <key>x</key>
            <real>501.1157836914062500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8521.9980468750000000</real>
            <key>x</key>
            <real>335.9729614257812500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8709.6904296875000000</real>
            <key>x</key>
            <real>543.6330566406250000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8727.6601562500000000</real>
            <key>x</key>
            <real>156.2684326171875000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9038.0830078125000000</real>
            <key>x</key>
            <real>341.9631347656250000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9151.8964843750000000</real>
            <key>x</key>
            <real>144.2881469726562500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
    </array>
</plist>
