<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>302.64208984375</real>
		<key>y</key>
		<real>1533.804443359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>511.891357421875</real>
		<key>y</key>
		<real>2497.208251953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>110.85986328125</real>
		<key>y</key>
		<real>2500.175537109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>127.99005126953125</real>
		<key>y</key>
		<real>3184.625732421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>530.45208740234375</real>
		<key>y</key>
		<real>3422.952880859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>204.07440185546875</real>
		<key>y</key>
		<real>3988.03173828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>437.0714111328125</real>
		<key>y</key>
		<real>4303.07080078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>178.69293212890625</real>
		<key>y</key>
		<real>4510.958984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>506.4459228515625</real>
		<key>y</key>
		<real>4750.615234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>208.9984130859375</real>
		<key>y</key>
		<real>4809.83203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>129.42062377929688</real>
		<key>y</key>
		<real>5066.900390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>522.703857421875</real>
		<key>y</key>
		<real>5377.29248046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>86.29986572265625</real>
		<key>y</key>
		<real>5549.263671875</real>
	</dict>
</array>
</plist>
