<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1466.3897705078125000</real>
            <key>x</key>
            <real>517.6754150390625000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1682.0371093750000000</real>
            <key>x</key>
            <real>184.2221679687500000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2095.3583984375000000</real>
            <key>x</key>
            <real>373.9108886718750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1384.5246582031250000</real>
            <key>x</key>
            <real>176.2349853515625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1850.1887207031250000</real>
            <key>x</key>
            <real>531.1720581054687500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2397.7951660156250000</real>
            <key>x</key>
            <real>140.2940979003906200</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2495.6347656250000000</real>
            <key>x</key>
            <real>541.6360473632812500</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3609.6708984375000000</real>
            <key>x</key>
            <real>156.2684326171875000</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2930.3496093750000000</real>
            <key>x</key>
            <real>501.2265014648437500</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2700.2290039062500000</real>
            <key>x</key>
            <real>377.9049072265625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3123.5354003906250000</real>
            <key>x</key>
            <real>164.2546997070312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3788.3076171875000000</real>
            <key>x</key>
            <real>236.1374511718750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3512.7607421875000000</real>
            <key>x</key>
            <real>391.8813476562500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3818.2592773437500000</real>
            <key>x</key>
            <real>515.6784057617187500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4119.7641601562500000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4702.6708984375000000</real>
            <key>x</key>
            <real>547.6261596679687500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4607.8964843750000000</real>
            <key>x</key>
            <real>192.2093505859375000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4313.4462890625000000</real>
            <key>x</key>
            <real>529.6557006835937500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5048.4594726562500000</real>
            <key>x</key>
            <real>541.9337768554687500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5317.6630859375000000</real>
            <key>x</key>
            <real>419.8359985351562500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5325.6503906250000000</real>
            <key>x</key>
            <real>130.3108215332031200</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5881.0405273437500000</real>
            <key>x</key>
            <real>75.9396057128906250</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4952.2631835937500000</real>
            <key>x</key>
            <real>248.1177368164062500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6011.4575195312500000</real>
            <key>x</key>
            <real>493.7148437500000000</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5630.0830078125000000</real>
            <key>x</key>
            <real>304.0261230468750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6393.8750000000000000</real>
            <key>x</key>
            <real>103.9837951660156200</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6313.8935546875000000</real>
            <key>x</key>
            <real>349.9503173828125000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6629.3745117187500000</real>
            <key>x</key>
            <real>525.6616821289062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7001.6967773437500000</real>
            <key>x</key>
            <real>425.8261718750000000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6707.2475585937500000</real>
            <key>x</key>
            <real>216.1699218750000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1955.5893554687500000</real>
            <key>x</key>
            <real>222.1600952148437500</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4421.2709960937500000</real>
            <key>x</key>
            <real>260.0980224609375000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5731.9165039062500000</real>
            <key>x</key>
            <real>519.6715087890625000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7237.3105468750000000</real>
            <key>x</key>
            <real>208.1827392578125000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
    </array>
</plist>
