<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>528.14007568359375</real>
		<key>y</key>
		<real>1436.38818359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>85.5291748046875</real>
		<key>y</key>
		<real>1724.403076171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>182.384765625</real>
		<key>y</key>
		<real>2060.81787109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>88.34881591796875</real>
		<key>y</key>
		<real>1487.764892578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>307.39996337890625</real>
		<key>y</key>
		<real>1815.877685546875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>72.46923828125</real>
		<key>y</key>
		<real>2355.6259765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>163.12255859375</real>
		<key>y</key>
		<real>2588.978271484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>208.310791015625</real>
		<key>y</key>
		<real>3579.0947265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>109.40155029296875</real>
		<key>y</key>
		<real>2822.861572265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>546.825439453125</real>
		<key>y</key>
		<real>2614.461181640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>333.519775390625</real>
		<key>y</key>
		<real>2759.131103515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>564.3201904296875</real>
		<key>y</key>
		<real>3367.83837890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>560.98834228515625</real>
		<key>y</key>
		<real>3107.950439453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>313.685302734375</real>
		<key>y</key>
		<real>3354.764404296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>298.81640625</real>
		<key>y</key>
		<real>4041.77099609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>540.8538818359375</real>
		<key>y</key>
		<real>5029.47412109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>196.6953125</real>
		<key>y</key>
		<real>5180.05078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>514.53564453125</real>
		<key>y</key>
		<real>4283.8916015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>84.297027587890625</real>
		<key>y</key>
		<real>4915.48388671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>508.859375</real>
		<key>y</key>
		<real>5415.37841796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>71.532470703125</real>
		<key>y</key>
		<real>5400.74462890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>335.3887939453125</real>
		<key>y</key>
		<real>5873.3427734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>333.653564453125</real>
		<key>y</key>
		<real>4957.72314453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>90.71160888671875</real>
		<key>y</key>
		<real>5938.388671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>302.8359375</real>
		<key>y</key>
		<real>5537.66650390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>549.00823974609375</real>
		<key>y</key>
		<real>6477.7998046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>337.949951171875</real>
		<key>y</key>
		<real>6312.12841796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>368.0938720703125</real>
		<key>y</key>
		<real>6503.1396484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>144.22030639648438</real>
		<key>y</key>
		<real>7024.35986328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>377.48040771484375</real>
		<key>y</key>
		<real>6687.1875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>325.480712890625</real>
		<key>y</key>
		<real>2466.96728515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>349.28857421875</real>
		<key>y</key>
		<real>4509.35302734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>519.6715087890625</real>
		<key>y</key>
		<real>5731.91650390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>9</real>
		<key>x</key>
		<real>74.63360595703125</real>
		<key>y</key>
		<real>6352.2353515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>549.99578857421875</real>
		<key>y</key>
		<real>1916.328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>458.4703369140625</real>
		<key>y</key>
		<real>2300.197509765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>226.6038818359375</real>
		<key>y</key>
		<real>2295.32421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>519.8011474609375</real>
		<key>y</key>
		<real>2919.88330078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>85.806060791015625</real>
		<key>y</key>
		<real>2982.64453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>242.45574951171875</real>
		<key>y</key>
		<real>3080.92626953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>68.07135009765625</real>
		<key>y</key>
		<real>3349.526611328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>486.593017578125</real>
		<key>y</key>
		<real>3578.2275390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>365.8465576171875</real>
		<key>y</key>
		<real>3803.8359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>117.04830932617188</real>
		<key>y</key>
		<real>3813.73046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>562.47882080078125</real>
		<key>y</key>
		<real>3925.27490234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>114.634765625</real>
		<key>y</key>
		<real>4244.412109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>301.082275390625</real>
		<key>y</key>
		<real>4329.63818359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>121.67697143554688</real>
		<key>y</key>
		<real>4062.74072265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>129.42062377929688</real>
		<key>y</key>
		<real>4521.314453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>286.9378662109375</real>
		<key>y</key>
		<real>4670.46533203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>511.31915283203125</real>
		<key>y</key>
		<real>4557.49462890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>548.19146728515625</real>
		<key>y</key>
		<real>4771.1650390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>530.76593017578125</real>
		<key>y</key>
		<real>6093.67236328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>82.511077880859375</real>
		<key>y</key>
		<real>6176.125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>326.18682861328125</real>
		<key>y</key>
		<real>6096.1181640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>105.13748168945312</real>
		<key>y</key>
		<real>5746.29736328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>529.95831298828125</real>
		<key>y</key>
		<real>6308.6533203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>151.9639892578125</real>
		<key>y</key>
		<real>6533.39453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>568.63507080078125</real>
		<key>y</key>
		<real>6706.0576171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>99.308990478515625</real>
		<key>y</key>
		<real>6760.0556640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>359.1180419921875</real>
		<key>y</key>
		<real>6923.087890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>106.12045288085938</real>
		<key>y</key>
		<real>7231.28271484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>296.40283203125</real>
		<key>y</key>
		<real>7192.54150390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>496.583984375</real>
		<key>y</key>
		<real>7175.9052734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>391.11260986328125</real>
		<key>y</key>
		<real>7380.82568359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>553.40618896484375</real>
		<key>y</key>
		<real>6989.490234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>163.7132568359375</real>
		<key>y</key>
		<real>7531.3193359375</real>
	</dict>
</array>
</plist>
