<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1452.4147949218750000</real>
            <key>x</key>
            <real>525.6616821289062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1592.1843261718750000</real>
            <key>x</key>
            <real>373.9108886718750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1777.8798828125000000</real>
            <key>x</key>
            <real>228.1502685546875000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1927.6347656250000000</real>
            <key>x</key>
            <real>110.3433532714843700</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2047.4375000000000000</real>
            <key>x</key>
            <real>262.0941162109375000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2127.3076171875000000</real>
            <key>x</key>
            <real>441.7995605468750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2262.0974121093750000</real>
            <key>x</key>
            <real>535.0623779296875000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2405.7814941406250000</real>
            <key>x</key>
            <real>393.8783569335937500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2537.5646972656250000</real>
            <key>x</key>
            <real>238.1335449218750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2699.2998046875000000</real>
            <key>x</key>
            <real>100.3591308593750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2712.2099609375000000</real>
            <key>x</key>
            <real>541.6360473632812500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2977.7753906250000000</real>
            <key>x</key>
            <real>258.1010131835937500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2981.7675781250000000</real>
            <key>x</key>
            <real>435.8094482421875000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3178.3784179687500000</real>
            <key>x</key>
            <real>108.3463134765625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3338.1162109375000000</real>
            <key>x</key>
            <real>531.6527709960937500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3507.8376464843750000</real>
            <key>x</key>
            <real>290.0488281250000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3613.6630859375000000</real>
            <key>x</key>
            <real>519.6715087890625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3711.5029296875000000</real>
            <key>x</key>
            <real>110.3433532714843700</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3783.3842773437500000</real>
            <key>x</key>
            <real>391.8813476562500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3862.1875000000000000</real>
            <key>x</key>
            <real>234.1403808593750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4013.9389648437500000</real>
            <key>x</key>
            <real>551.6193237304687500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4021.9252929687500000</real>
            <key>x</key>
            <real>120.3275451660156200</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4249.5527343750000000</real>
            <key>x</key>
            <real>108.3463134765625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4253.5449218750000000</real>
            <key>x</key>
            <real>523.6655883789062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4368.2885742187500000</real>
            <key>x</key>
            <real>341.9631347656250000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4474.1162109375000000</real>
            <key>x</key>
            <real>102.3561706542968700</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4607.8964843750000000</real>
            <key>x</key>
            <real>369.9177246093750000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4629.8603515625000000</real>
            <key>x</key>
            <real>539.6389770507812500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4709.7285156250000000</real>
            <key>x</key>
            <real>150.2783203125000000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4841.5136718750000000</real>
            <key>x</key>
            <real>479.7374877929687500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4849.4995117187500000</real>
            <key>x</key>
            <real>288.0517578125000000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4955.3251953125000000</real>
            <key>x</key>
            <real>156.2684326171875000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5141.9526367187500000</real>
            <key>x</key>
            <real>264.0911865234375000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5279.7255859375000000</real>
            <key>x</key>
            <real>525.6616821289062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5464.3554687500000000</real>
            <key>x</key>
            <real>114.3374023437500000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5508.2827148437500000</real>
            <key>x</key>
            <real>519.6715087890625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5729.9194335937500000</real>
            <key>x</key>
            <real>114.3374023437500000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5861.7026367187500000</real>
            <key>x</key>
            <real>274.0744628906250000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5985.4995117187500000</real>
            <key>x</key>
            <real>156.2684326171875000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6045.4013671875000000</real>
            <key>x</key>
            <real>447.7896728515625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6255.9873046875000000</real>
            <key>x</key>
            <real>106.3502197265625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6339.8515625000000000</real>
            <key>x</key>
            <real>525.6616821289062500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6395.7587890625000000</real>
            <key>x</key>
            <real>292.0457763671875000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6601.4208984375000000</real>
            <key>x</key>
            <real>533.6488647460937500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6692.2041015625000000</real>
            <key>x</key>
            <real>130.3108215332031200</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6706.1816406250000000</real>
            <key>x</key>
            <real>379.9010009765625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6843.9555664062500000</real>
            <key>x</key>
            <real>521.6685791015625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6857.9331054687500000</real>
            <key>x</key>
            <real>130.3108215332031200</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7023.6601562500000000</real>
            <key>x</key>
            <real>357.9375000000000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7033.6435546875000000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7232.2495117187500000</real>
            <key>x</key>
            <real>503.6981201171875000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7368.0268554687500000</real>
            <key>x</key>
            <real>240.1305541992187500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7654.4882812500000000</real>
            <key>x</key>
            <real>140.2940979003906200</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7754.3251953125000000</real>
            <key>x</key>
            <real>501.7010498046875000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8023.8828125000000000</real>
            <key>x</key>
            <real>310.0162353515625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8031.8691406250000000</real>
            <key>x</key>
            <real>140.2940979003906200</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8208.5117187500000000</real>
            <key>x</key>
            <real>294.0418701171875000</real>
            <key>id</key>
            <real>9.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8334.3056640625000000</real>
            <key>x</key>
            <real>557.6094360351562500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8362.2597656250000000</real>
            <key>x</key>
            <real>134.3039550781250000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8521.9980468750000000</real>
            <key>x</key>
            <real>447.7896728515625000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8527.9873046875000000</real>
            <key>x</key>
            <real>274.0744628906250000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8735.6464843750000000</real>
            <key>x</key>
            <real>132.3078613281250000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8743.6347656250000000</real>
            <key>x</key>
            <real>537.6428833007812500</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8905.3691406250000000</real>
            <key>x</key>
            <real>286.0556640625000000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8915.3525390625000000</real>
            <key>x</key>
            <real>483.7305908203125000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9650.0097656250000000</real>
            <key>x</key>
            <real>234.1403808593750000</real>
            <key>id</key>
            <real>4.0000000000000000</real>
        </dict>
    </array>
</plist>
