<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>6</real>
		<key>x</key>
		<real>302.64208984375</real>
		<key>y</key>
		<real>1533.804443359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>110.85986328125</real>
		<key>y</key>
		<real>2500.175537109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>511.891357421875</real>
		<key>y</key>
		<real>2497.208251953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>127.99005126953125</real>
		<key>y</key>
		<real>3184.625732421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>530.45208740234375</real>
		<key>y</key>
		<real>3422.952880859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>204.07440185546875</real>
		<key>y</key>
		<real>3988.03173828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>437.0714111328125</real>
		<key>y</key>
		<real>4303.07080078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>208.9984130859375</real>
		<key>y</key>
		<real>4809.83203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>506.4459228515625</real>
		<key>y</key>
		<real>4750.615234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>178.69293212890625</real>
		<key>y</key>
		<real>4510.958984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>129.42062377929688</real>
		<key>y</key>
		<real>5066.900390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>86.29986572265625</real>
		<key>y</key>
		<real>5549.263671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>522.703857421875</real>
		<key>y</key>
		<real>5377.29248046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>282.32769775390625</real>
		<key>y</key>
		<real>5961.38916015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>110.40301513671875</real>
		<key>y</key>
		<real>6571.7392578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>407.70281982421875</real>
		<key>y</key>
		<real>6549.12646484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>473.3807373046875</real>
		<key>y</key>
		<real>6993.24658203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>163.31637573242188</real>
		<key>y</key>
		<real>7557.9609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>392.67236328125</real>
		<key>y</key>
		<real>7910.42578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>164.1885986328125</real>
		<key>y</key>
		<real>8168.0341796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>455.793701171875</real>
		<key>y</key>
		<real>8195.84765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>145.36480712890625</real>
		<key>y</key>
		<real>8783.99609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>322.0657958984375</real>
		<key>y</key>
		<real>8528.16015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>466.0986328125</real>
		<key>y</key>
		<real>8820.9140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>287.2470703125</real>
		<key>y</key>
		<real>9405.3056640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>135.47528076171875</real>
		<key>y</key>
		<real>9673.0390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>442.76611328125</real>
		<key>y</key>
		<real>9760.3603515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>205.569580078125</real>
		<key>y</key>
		<real>10082.732421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>548.03912353515625</real>
		<key>y</key>
		<real>10121.109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>356.1646728515625</real>
		<key>y</key>
		<real>10512.7216796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>124.9073486328125</real>
		<key>y</key>
		<real>10847.087890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>499.422119140625</real>
		<key>y</key>
		<real>10907.3017578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>270.52764892578125</real>
		<key>y</key>
		<real>11131.2265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>454.709228515625</real>
		<key>y</key>
		<real>11469.4638671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>96.143218994140625</real>
		<key>y</key>
		<real>11568.0087890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>353.96337890625</real>
		<key>y</key>
		<real>12090.3779296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>132.45257568359375</real>
		<key>y</key>
		<real>12757.9609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>369.45068359375</real>
		<key>y</key>
		<real>13246.33203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>293.9754638671875</real>
		<key>y</key>
		<real>13779.0517578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>520.3594970703125</real>
		<key>y</key>
		<real>14227.0947265625</real>
	</dict>
</array>
</plist>
