<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>834.4965820312500000</real>
            <key>x</key>
            <real>335.9729614257812500</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1060.1252441406250000</real>
            <key>x</key>
            <real>463.7640380859375000</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1281.7617187500000000</real>
            <key>x</key>
            <real>589.5572509765625000</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1771.8889160156250000</real>
            <key>x</key>
            <real>268.0842895507812500</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1980.4799804687500000</real>
            <key>x</key>
            <real>210.1798095703125000</real>
            <key>id</key>
            <real>5.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2224.0798339843750000</real>
            <key>x</key>
            <real>110.3433532714843700</real>
            <key>id</key>
            <real>6.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2546.4829101562500000</real>
            <key>x</key>
            <real>323.9926757812500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2798.0690917968750000</real>
            <key>x</key>
            <real>437.8064575195312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3091.5893554687500000</real>
            <key>x</key>
            <real>581.5700683593750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3255.3193359375000000</real>
            <key>x</key>
            <real>266.0881958007812500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3497.8542480468750000</real>
            <key>x</key>
            <real>387.8881835937500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3735.4633789062500000</real>
            <key>x</key>
            <real>555.6133422851562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3928.0800781250000000</real>
            <key>x</key>
            <real>86.3836669921875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4145.7221679687500000</real>
            <key>x</key>
            <real>268.0842895507812500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4337.4091796875000000</real>
            <key>x</key>
            <real>477.7404785156250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4751.6601562500000000</real>
            <key>x</key>
            <real>148.2812805175781200</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5028.1391601562500000</real>
            <key>x</key>
            <real>497.7079467773437500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5241.7875976562500000</real>
            <key>x</key>
            <real>256.1040039062500000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5583.2285156250000000</real>
            <key>x</key>
            <real>493.7148437500000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5815.7783203125000000</real>
            <key>x</key>
            <real>142.2911376953125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6275.9555664062500000</real>
            <key>x</key>
            <real>345.9571533203125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6723.2207031250000000</real>
            <key>x</key>
            <real>553.6163330078125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6921.8266601562500000</real>
            <key>x</key>
            <real>325.9896850585937500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7295.2148437500000000</real>
            <key>x</key>
            <real>120.3275451660156200</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7195.3784179687500000</real>
            <key>x</key>
            <real>489.7207641601562500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7723.4433593750000000</real>
            <key>x</key>
            <real>397.8714599609375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7747.4042968750000000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8109.7421875000000000</real>
            <key>x</key>
            <real>264.0911865234375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8537.9726562500000000</real>
            <key>x</key>
            <real>491.7177734375000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8785.5644531250000000</real>
            <key>x</key>
            <real>204.1896362304687500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8891.3925781250000000</real>
            <key>x</key>
            <real>499.7049560546875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9323.6152343750000000</real>
            <key>x</key>
            <real>160.2615661621093700</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9279.6855468750000000</real>
            <key>x</key>
            <real>399.8685302734375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9775.8037109375000000</real>
            <key>x</key>
            <real>513.6813964843750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9933.5449218750000000</real>
            <key>x</key>
            <real>282.0616455078125000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9679.9619140625000000</real>
            <key>x</key>
            <real>120.3275451660156200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10451.6269531250000000</real>
            <key>x</key>
            <real>551.6193237304687500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10663.2802734375000000</real>
            <key>x</key>
            <real>284.0585937500000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10463.6074218750000000</real>
            <key>x</key>
            <real>120.3275451660156200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11177.3691406250000000</real>
            <key>x</key>
            <real>174.2388916015625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10867.8769531250000000</real>
            <key>x</key>
            <real>483.7305908203125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11547.6933593750000000</real>
            <key>x</key>
            <real>517.6754150390625000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11148.3476562500000000</real>
            <key>x</key>
            <real>391.8813476562500000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11981.9130859375000000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11660.4404296875000000</real>
            <key>x</key>
            <real>272.0783691406250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12081.7480468750000000</real>
            <key>x</key>
            <real>467.7572021484375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12474.0371093750000000</real>
            <key>x</key>
            <real>447.7896728515625000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12222.4492187500000000</real>
            <key>x</key>
            <real>230.1472778320312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12771.5498046875000000</real>
            <key>x</key>
            <real>152.2744140625000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12713.6435546875000000</real>
            <key>x</key>
            <real>415.8419189453125000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13195.7841796875000000</real>
            <key>x</key>
            <real>557.6094360351562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13281.6435546875000000</real>
            <key>x</key>
            <real>232.1433715820312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13639.9873046875000000</real>
            <key>x</key>
            <real>453.7799072265625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13751.8037109375000000</real>
            <key>x</key>
            <real>122.3236389160156200</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13534.1621093750000000</real>
            <key>x</key>
            <real>210.1798095703125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>14015.3730468750000000</real>
            <key>x</key>
            <real>489.7207641601562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
    </array>
</plist>
