<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1474.3784179687500000</real>
            <key>x</key>
            <real>517.6754150390625000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1404.4916992187500000</real>
            <key>x</key>
            <real>122.3236389160156200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2113.3303222656250000</real>
            <key>x</key>
            <real>551.6193237304687500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1670.0571289062500000</real>
            <key>x</key>
            <real>331.9798583984375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>1975.5559082031250000</real>
            <key>x</key>
            <real>190.2123413085937500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2295.9616699218750000</real>
            <key>x</key>
            <real>96.3669433593750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2418.6916503906250000</real>
            <key>x</key>
            <real>543.6330566406250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2877.9389648437500000</real>
            <key>x</key>
            <real>220.1630859375000000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3191.4238281250000000</real>
            <key>x</key>
            <real>539.6389770507812500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3383.1105957031250000</real>
            <key>x</key>
            <real>76.3985290527343750</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3707.5107421875000000</real>
            <key>x</key>
            <real>268.0842895507812500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3735.4633789062500000</real>
            <key>x</key>
            <real>555.6133422851562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4435.2485351562500000</real>
            <key>x</key>
            <real>118.3305053710937500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4103.7919921875000000</real>
            <key>x</key>
            <real>150.2783203125000000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4329.4208984375000000</real>
            <key>x</key>
            <real>529.6557006835937500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4709.7285156250000000</real>
            <key>x</key>
            <real>331.9798583984375000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4960.2495117187500000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5249.7753906250000000</real>
            <key>x</key>
            <real>463.7640380859375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5539.2998046875000000</real>
            <key>x</key>
            <real>236.1374511718750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5793.8149414062500000</real>
            <key>x</key>
            <real>485.7276611328125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6150.1616210937500000</real>
            <key>x</key>
            <real>174.2388916015625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6569.4741210937500000</real>
            <key>x</key>
            <real>387.8881835937500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6857.9331054687500000</real>
            <key>x</key>
            <real>216.1699218750000000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7335.1499023437500000</real>
            <key>x</key>
            <real>539.6389770507812500</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6981.7285156250000000</real>
            <key>x</key>
            <real>527.6586914062500000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7437.9135742187500000</real>
            <key>x</key>
            <real>210.1798095703125000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7839.2539062500000000</real>
            <key>x</key>
            <real>529.6557006835937500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8023.8828125000000000</real>
            <key>x</key>
            <real>168.2487487792968700</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8293.4404296875000000</real>
            <key>x</key>
            <real>479.7374877929687500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8601.8662109375000000</real>
            <key>x</key>
            <real>220.1630859375000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8937.3164062500000000</real>
            <key>x</key>
            <real>166.2517089843750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9471.3730468750000000</real>
            <key>x</key>
            <real>375.9079589843750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9078.0175781250000000</real>
            <key>x</key>
            <real>527.6586914062500000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9911.5810546875000000</real>
            <key>x</key>
            <real>573.5838012695312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10099.2744140625000000</real>
            <key>x</key>
            <real>270.0812988281250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9793.7753906250000000</real>
            <key>x</key>
            <real>120.3275451660156200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10451.6269531250000000</real>
            <key>x</key>
            <real>551.6193237304687500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10663.2802734375000000</real>
            <key>x</key>
            <real>284.0585937500000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10463.6074218750000000</real>
            <key>x</key>
            <real>120.3275451660156200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11385.9589843750000000</real>
            <key>x</key>
            <real>162.2586059570312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11001.6572265625000000</real>
            <key>x</key>
            <real>559.6065063476562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11547.6933593750000000</real>
            <key>x</key>
            <real>517.6754150390625000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11096.4345703125000000</real>
            <key>x</key>
            <real>206.1866455078125000</real>
            <key>id</key>
            <real>3.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11981.9130859375000000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11877.1533203125000000</real>
            <key>x</key>
            <real>377.9049072265625000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12213.5332031250000000</real>
            <key>x</key>
            <real>565.5966186523437500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12286.3447265625000000</real>
            <key>x</key>
            <real>371.9147949218750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12435.1699218750000000</real>
            <key>x</key>
            <real>126.3176879882812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13006.0966796875000000</real>
            <key>x</key>
            <real>210.1798095703125000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12865.3955078125000000</real>
            <key>x</key>
            <real>545.6291503906250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13195.7841796875000000</real>
            <key>x</key>
            <real>557.6094360351562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13281.6435546875000000</real>
            <key>x</key>
            <real>232.1433715820312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13498.2207031250000000</real>
            <key>x</key>
            <real>505.6951293945312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13751.8037109375000000</real>
            <key>x</key>
            <real>122.3236389160156200</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>14139.1699218750000000</real>
            <key>x</key>
            <real>96.3669433593750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>14541.4404296875000000</real>
            <key>x</key>
            <real>499.7049560546875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
    </array>
</plist>
