<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>11</real>
		<key>x</key>
		<real>332.6983642578125</real>
		<key>y</key>
		<real>1562.128662109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>170.257080078125</real>
		<key>y</key>
		<real>2129.15869140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>531.6473388671875</real>
		<key>y</key>
		<real>2307.973388671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>139.41168212890625</real>
		<key>y</key>
		<real>2481.06103515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>413.9697265625</real>
		<key>y</key>
		<real>2926.57470703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>148.59976196289062</real>
		<key>y</key>
		<real>3550.80615234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>561.23284912109375</real>
		<key>y</key>
		<real>3731.99755859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>307.77374267578125</real>
		<key>y</key>
		<real>3855.92822265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>131.00347900390625</real>
		<key>y</key>
		<real>4229.8984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>430.86456298828125</real>
		<key>y</key>
		<real>4393.93212890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>4</real>
		<key>x</key>
		<real>185.92434692382812</real>
		<key>y</key>
		<real>4690.64111328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>495.01959228515625</real>
		<key>y</key>
		<real>4755.830078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>216.6405029296875</real>
		<key>y</key>
		<real>4962.06103515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>521.64703369140625</real>
		<key>y</key>
		<real>5073.31494140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>535.122314453125</real>
		<key>y</key>
		<real>5286.8466796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>78.630035400390625</real>
		<key>y</key>
		<real>5302.5693359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>303.68505859375</real>
		<key>y</key>
		<real>5310.2578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>167.6773681640625</real>
		<key>y</key>
		<real>5519.7470703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>398.6392822265625</real>
		<key>y</key>
		<real>5546.046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>549.0682373046875</real>
		<key>y</key>
		<real>5671.6708984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>323.40411376953125</real>
		<key>y</key>
		<real>5798.32470703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>105.27593994140625</real>
		<key>y</key>
		<real>5866.22216796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>603.62457275390625</real>
		<key>y</key>
		<real>5911.1796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>10</real>
		<key>x</key>
		<real>195.472412109375</real>
		<key>y</key>
		<real>6033.2734375</real>
	</dict>
</array>
</plist>
